.banner-image {
   color: #fff;
   height: 50vh;
   width: 100%;
   background-color: black;
}

.content-div {
   height: 50vh;
   width: 100%;
   display: flex;
}

.author-content {
   height: 100%;
   width: 25%;
   background-color: #FBEC5D;
}