.blog-background {
    background-image: url('../assets/bloggingbackground.jpg');
    background-size: cover; /* Adjust this as needed */
    background-position: center; /* Adjust this as needed */
    width: 100%; /* Adjust this as needed */
    height: 100vh; /* Adjust this as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Additional styles for your component go here */
  }
  
  /* Additional styles for your .blog-image class go here */

 .login-container {
  background-color: #fff;
 }

 .login-form {
    display: flex;
    flex-direction: column;
 }